[phases.setup]
nixPkgs = ["python311", "pip"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r fastapi_app/requirements.txt"
]

[start]
cmd = "cd fastapi_app && python -m uvicorn app.main:app --host 0.0.0.0 --port $PORT"





